@page "/AddPerson"

@inject PeopleContext _context
@inject NavigationManager navManager

<h3>Přidej novou osobu</h3>

<EditForm Model="Person">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="firstname" class="form-label">Jméno</label>
        <InputText @bind-Value=Person.FirstName class="form-control" id="firstname" />
    </div>

    <div class="mb-3">
        <label for="lastname" class="form-label">Příjmení</label>
        <InputText @bind-Value=Person.LastName class="form-control" id="lastname" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText @bind-Value=Person.Email class="form-control" id="email" placeholder="name@example.com" />
    </div>

    <div class="mb-3">
        <label for="dob" class="form-label">Datum narození</label>
        <InputDate @bind-Value=Person.DateOfBirth class="form-control" id="dob" />
    </div>

    <ValidationSummary/>

    @if (ShowAlert)
    {
        <div class="alert alert-danger">
            Prosím vyplňte jméno, příjmení a email.
        </div>
    }
  
    <button disabled=@(string.IsNullOrEmpty(Person.Email)) class="btn btn-primary" @onclick=Save>Ulož</button>
</EditForm>

@* <div></div> *@


@code {
    Person Person = new Person()
        {
            FirstName = "",
            LastName = "",
            DateOfBirth = DateTime.Today.AddYears(-20)
        };

    bool ShowAlert = false;

    bool IsValidInput()
    {
        return //!string.IsNullOrEmpty(Person.FirstName)
            //&& !string.IsNullOrEmpty(Person.LastName)
            !string.IsNullOrEmpty(Person.Email); 
    }

    void Save()
    {
        if (!IsValidInput())
        {
            //ShowAlert = true;
            return;
        }

        _context.Persons.Add(Person);
        _context.SaveChanges();
        
        // naviguj na index
        navManager.NavigateTo("/", true);
    }
}
