@page

@model IndexModel

@{
    ViewData["Title"] = "Status";
}

<div class="text-center">
    <h1 class="display-4">WEB API STATUS:</h1>
    
    <div>@Model.APIStatus</div>


    <h1 class="display-4">DATABAZE STATUS:</h1>

    
</div>
