@page

@model IndexModel

@{
    ViewData["Title"] = "Status";
}

<div class="text-center">
    <h4 >WEB API STATUS:</h4>
    
    <div>@Model.APIStatus</div>


    <h4 >DATABÁZE STATUS:</h4>

    
</div>
